<% include header.ejs %>
    <div class="dashboard exchangeDashboard">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3>Exchanges</h3>
                    <!-- <a class="newexchange" href="/addExchange">New Exchange</a> -->
                    <div class="exchange">
                        <table>
                            <thead>
                                <tr>
                                    <th>Exchange Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i=0; i<data.length; i++) {%>
                                    <tr><td><%= data[i].name %></td><td><a style="display: none;" href="/exportJson/<%= data[i].exchangeId %>" target="_blank">Export</a><a href="/appLogo/<%= data[i].exchangeId %>">Profile</a><a href="/appColor/<%= data[i].exchangeId %>">App Color</a><a href="/appContent/<%= data[i].exchangeId %>">Content</a><a  href="/deleteExchange/<%= data[i].exchangeId %>" >Delete</a></td></tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <% include footer.ejs %>
